.page {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    min-width: 480px;
}

@media screen and (max-width: 640px) {
    .page {
        padding: 12px;
        box-sizing: border-box;
    }
}